@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Space+Mono&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121619;

  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;

  overflow-x: hidden;
}

.jumbotron {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-img {
  position: absolute;
  margin-bottom: 3rem;
  margin-left: 10rem;

  width: 70vw;
  height: 30vw;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.wrapper {
  margin-top: 14rem;
  margin-right: 8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  z-index: 1;
}

.name {
  animation: pan 4s linear infinite;

  padding: 1rem;

  font-size: clamp(5rem, 8vw, 10rem);
  font-family: "Space Mono", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;

  background-color: white;
  background-image: linear-gradient(45deg, #703da4, #a379cd, #c2a6de, #703da4);
  background-size: 200%;
  background-clip: text;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  transition: background-position 2000ms ease-out;
  -moz-transition: background-position 2000ms ease-out;
}

.title {
  margin-top: -1rem;

  font-family: 'Space Mono', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #c2a6de;
  letter-spacing: 2px;
}

@keyframes pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.arrow-down {
  position: absolute;
  right: 4rem;
  bottom: 2rem;

  stroke: #81f495;
  height: 4rem;
  width: 4rem;
}

#menu-background-pattern {
  height: 100vh;
  width: 50vw;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.3) 9%,
    transparent 9%
  );

  background-position: 2% 2%;
  background-size: 8vmin 8vmin;
  position: absolute;
  left: 5vw;
  top: 0px;
  z-index: -1;
}

#menu-background-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("https://atlas-content1-cdn.pixelsquid.com/assets_v2/216/2167013426532979886/jpeg-600/G03.jpg");
  z-index: -2;

  opacity: 0.2;
}

/* 
INTRO
*/

.intro {
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
}

.intro p {
  margin-top: 1rem;

  position: relative;

  font-size: 1rem;
}

.intro p:first-child::after {
  position: absolute;
  top: -1rem;
  left: 0px;

  content: "";
  width: 15vw;
  height: 3px;
  background-color: #81f495;
}

/*
CARDS
*/

.cards {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.7);
  width: clamp(20rem, 15vw, 22rem);
  height: clamp(25rem, 20vw, 27rem);
  background-image: linear-gradient(135deg, #E4DEE4, #E4DEE4, #81f495);
  background-size: 400%;
  background-position: 0% 0%;
  padding: 1rem;

  color: #121619;

  transition: all 250ms ease;
  -moz-transition: all 250ms ease;
}

.card h4 {
    font-family: 'Space Mono', sans-serif;
    font-size: 2rem;
    line-height: 1.8rem;
}

.card p {
    margin-top: 1.2rem;

    line-height: 2rem;
    font-size: 1rem;
    opacity: 0;
    
    transition: all 250ms ease;
}

.card:hover > p {
    margin-top: 1rem;
    opacity: 1;
}

.tags {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 1rem;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0.6rem;
    background-color: #c2a6de;
    border-radius: 5px;
    border: 2px solid rgba(112, 61, 164, 0.5);

    color: black;
    font-size: 0.6rem;
    text-transform: uppercase;

    padding: 0.3rem 0.6rem;
}

.card:hover {
  border: none;
  background-position: 100% 100%;
  cursor: pointer;
  transform: scale(102%, 102%);
}

.arrow-up-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  stroke: #fff;
  filter: drop-shadow(0px 0px 2px #fff);
  opacity: 0;

  height: 6rem;
  width: 6rem;
  transition: all 250ms ease;
}

.card:hover > .arrow-up-right {
    bottom: 2px;
    right: 2px;
    opacity: 1;
}
