:root {
    --citron: #DDCA7D;
    --space: #242331;
    --lion: #B88B4A;
    --golden: #A27035;
    --cafe: #533E2D;
    --off-white: #F3F3F7;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*
LANDING PAGE
*/

.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--space);
    position: relative;
}

#logo path {
    stroke-dasharray: 443;
    stroke-dashoffset: 443;

    fill: var(--space);
    animation: line-animation 2s ease-out forwards;
    stroke: var(--lion);
}

#logo {
    z-index: 1;
}

.intro {
    color: #1A1924;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: heavy;
    font-family: sans-serif;
    opacity: 0;
    animation: slide-in 1s forwards;
    animation-delay: 2s;
    font-family: 'Poppins', sans-serif;
}

.whatido {
    color: var(--off-white);
    font-size: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 5rem;

    opacity: 0;
    animation: slide-up 0.5s forwards;
    animation-delay: 2.5s;
}

.whatido-arrow {
    fill: var(--golden);
    position: relative;
    left: 1rem;

    height: 1.6rem;
    width: 1.6rem;
    opacity: 0;
    animation: slide-down 0.6s forwards;
    animation-delay: 4s;
}

/*
ANIMATIONS
*/

@keyframes line-animation {
    50% {
        stroke-dashoffset: 0;
        fill: #242331
    }

    66% {
        stroke-dashoffset: 0;
        fill: #DDC6A7;
    }

    100% {
        fill: #DDC6A7;
    }
}

@keyframes slide-in {
    100% {
        transform: translate(-40%, -50%);
        opacity: 100;
    }
}

@keyframes slide-up {
    100% {
        transform: translate(0, -10%);
        opacity: 100;
    }
}

@keyframes slide-down {
    100% {
        transform: translate(0, 12%);
        opacity: 100;
    }
}