:root {
    --citron: #DDCA7D;
    --space: #242331;
    --light-space: #343348;
    --lion: #B88B4A;
    --light-lion: #DDC6A7;
    --golden: #A27035;
    --cafe: #533E2D;
    --off-white: #F3F3F7;
    --dark-white: #DADAE7;
    --accent-red: #F15025;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
TITLE
*/

.title-section {
    background-color: var(--space);
    height: 30rem;
    width: 100vw;
    display: flex;

    align-items: flex-end;
    justify-content: center;
}

.title {
    width: 100rem;
    min-width: 60rem;
    overflow: hidden;

    color: var(--off-white);
    font-size: 5rem;
    text-align: center;

    opacity: 0;
    transform: translate(0, 0.5rem);
    animation: fade-in 0.5s forwards;
}

.details-section {
    background-color: var(--light-space);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--off-white);
    opacity: 0;
    transform: translate(0, 0.5rem);
    animation: fade-in 0.5s forwards;
    animation-delay: 0.2s;
}

.details-pair {
    padding: 2rem 0;

    text-decoration: none;
    list-style: none;
    color: var(--dark-white);
    font-size: 1.2rem;
}

.details-title {    
    color: var(--off-white);
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.description {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
    opacity: 0;
    transform: translate(0, 0.5rem);
    animation: fade-in 0.5s forwards;
    animation-delay: 0.6s;

}

.description-container {
    width: 60rem;
}

.description-container h2 {
    margin: 1rem 0 -1rem 0;

    font-size: 2rem;
    padding: 1rem 0;
}

.description p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: var(--light-space);
}

/*
FOOTER
*/
footer {
    height: 7rem;
    background-color: var(--space);
    margin-top: 5rem;
}

/*
ANIMATIONS
*/

@keyframes fade-in {
    100% {
        opacity: 100;
        transform: translate(0, 0);
    }
}