@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@400;600&display=swap');html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
REUSABLE
*/

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    height: 100vh;
}

.headline {
    font-family: 'Roboto Mono', monospace;
}

a:link,
a:visited {
    color: #0072F5;
}

.slide-in-right {
    transform: translate(-1rem, 0);
    opacity: 0;
    animation: slide-in-right 0.4s ease-out forwards;
}

@keyframes slide-in-right {
    100% {
        transform: translate(0,0);
        opacity: 100;
    }
}

.slide-in-down {
    transform: translate(0, -1rem);
    opacity: 0;
    animation: slide-in-down 0.4s ease-out forwards;
    animation-delay: 0.3s;
}

@keyframes slide-in-down {
    100% {
        transform: translate(0,0);
        opacity: 100;
    }
}

/*
HEADER
*/

.header {
    padding: 5rem;
}

.header h1 {
    font-size: clamp(3rem, 1.6vw, 5rem);
}

.header h2 {
    font-size: 3rem;
    font-weight: normal;
}

.header h3 {
    font-weight: normal;
}

/* 
PROJECTS
*/

.projects-container {
    display: flex;
}

.projects {
    padding: 5rem;
    
    font-size: 2rem;
    margin-bottom: 10rem;
}

.projects h3 {
    font-size: 3rem;
}

.list {
    margin-top: 2rem;
}

.list a:visited,
.list a:link {
    display: block;
    position: relative;
    background-color: none;
    border-radius: 6px;
    padding: 1rem;
    margin-top: 1rem;

    color: #0072F5;
    text-decoration: none;

    transition: all 0.2s;
}

.list a:hover,
.list a:focus {
    color: white;
    background-color: #479DFF;
}

/*
SOCIALS
*/

.socials-container {
    width: 100vw;
    height: 15rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.socials-container svg {
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;

    stroke: gray;
    fill: gray;
    transition: all 0.2s;
}

.socials-container svg:hover {
    cursor: pointer;
    stroke: #479DFF;
    fill: #479DFF;
}

/*
PROJECT PAGES
*/

.header h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.header h3 a {
    color: #479DFF;
}

.description {
    padding: 5rem;
}

.description h3 {    
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
}

.description h3:not(:first-child) {
    margin-top: 4rem;
}

.description p {
    margin-top: 1rem;
    max-width: 130rem;

    font-size: 2.4rem;
    line-height: 4rem;
}

.description img {
    display: block;
    padding: 2rem;
    width: 40%;
}

.small-img {
    display: inline-block;
    width: 20%;
}

.description .caption {
    margin-top: -1rem;
    padding-left: 2rem;

    font-size: 2rem;
    font-style: italic;
}